body{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
}

#mydiv{
    width: 200px;
    height: 200px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(53, 53, 255);
    border-radius: 10px;
}

#mybtn{
    width: 100px;
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    background-color: aquamarine;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}